{% extends 'acseace/baseacseace.html' %}
{% block title %} SAA - Incentivo financeiro adicional (IFA) {% endblock %}
{% load static %}
...

{% block content %} 
<div class="container">
    <div class="sobre-card-foco">
        <h2>O que REALMENTE é o IFA?</h2>
        <p>Lorem ipsum dolor sit amet consectetur. At lectus tellus tristique varius. Sapien nullam viverra amet eget at volutpat pellentesque netus. Habitasse ante lacus posuere fermentum condimentum ut. Laoreet vulputate urna libero lectus risus a. Nunc lacinia sed eu amet a fermentum ultricies. Non mi pulvinar leo ac elit. Nulla faucibus vitae massa sollicitudin netus phasellus imperdiet diam. Nisi a at pretium nulla nisl.</p>
    </div>

    <div>
        <div>
            <h2 class="titulo-acseace">O que vem sendo feito pela secretaria?</h2>
            <p>Lorem ipsum dolor sit amet consectetur. At lectus tellus tristique varius. Sapien nullam viverra amet eget at volutpat pellentesque netus. Habitasse ante lacus posuere fermentum condimentum ut.</p>
        </div>
    </div>

    <div class="timeline-vertical">
        <div class="timeline-event">
            <div class="timeline-content">
                <div class="timeline-date">01/01/24</div>
                <p>Evento 1: Detalhes sobre o evento...</p>
            </div>
        </div>
        <div class="timeline-event">
            <div class="timeline-content">
                <div class="timeline-date">01/01/25</div>
                <p>Evento 2: Mais informações...</p>
            </div>
        </div>
        <div class="timeline-event">
            <div class="timeline-content">
                <div class="timeline-date">01/01/26</div>
                <p>Evento 3: Continuação das ações...</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}