{% extends 'acseace/baseacseace.html' %}
{% block title %} SAA - Quem somos {% endblock %}
{% load static %}
...

{% block content %}
    <div class="container">
        <div class="sobre-card">
            <div>
                <h2>SECRETÁRIA ACS E ACE</h2>
                <p>Lorem ipsum dolor sit amet consectetur. At lectus tellus tristique varius. Sapien nullam viverra amet eget at volutpat pellentesque netus. Habitasse ante lacus posuere fermentum condimentum ut. Laoreet vulputate urna libero lectus risus a. Nunc lacinia sed eu amet a fermentum ultricies. Non mi pulvinar leo ac elit. Nulla faucibus vitae massa sollicitudin netus phasellus imperdiet diam. Nisi a at pretium nulla nisl.</p>
                <p>Odio feugiat sit nunc senectus dolor venenatis mi sollicitudin morbi. Nisi volutpat nam et quam quis enim tellus et orci. Venenatis tortor ornare amet dui libero cras nisi. Suspendisse dui morbi.</p>
            </div>
            <img src="{% static 'assets/logosecretaria.png' %}" alt="Secretaria ACS e ACE">
        </div>

        <h2 class="titulo-acseace"> REPRESENTANTES POR DISTRITO </h2>

        <div class="distritos-container">
            <div class="distrito-card">
                <h3>DISTRITO RIACHO</h3>
                <img src="agente1.jpg" alt="Agente 1">
                <img src="agente2.jpg" alt="Agente 2">
                <img src="agente3.jpg" alt="Agente 3">
            </div>
            <div class="distrito-card">
                <h3>DISTRITO ELDORADO</h3>
                <img src="agente4.jpg" alt="Agente 4">
                <img src="agente5.jpg" alt="Agente 5">
            </div>
        </div>
        <div class="distritos-container">
            <div class="distrito-card">
                <h3>DISTRITO INDUSTRIAL</h3>
                <img src="agente4.jpg" alt="Agente 4">
                <img src="agente5.jpg" alt="Agente 5">
            </div>
            <div class="distrito-card">
                <h3>DISTRITO NACIONAL</h3>
                <img src="agente4.jpg" alt="Agente 4">
                <img src="agente5.jpg" alt="Agente 5">
            </div>
        </div>
        <div class="distritos-container">
            <div class="distrito-card">
                <h3>DISTRITO PETROLANDIA</h3>
                <img src="agente4.jpg" alt="Agente 4">
                <img src="agente5.jpg" alt="Agente 5">
            </div>
            <div class="distrito-card">
                <h3>DISTRITO RESSACA</h3>
                <img src="agente4.jpg" alt="Agente 4">
                <img src="agente5.jpg" alt="Agente 5">
            </div>            
        </div>
        <div class="distritos-container">
            <div class="distrito-card">
                <h3>DISTRITO SEDE</h3>
                <img src="agente4.jpg" alt="Agente 4">
                <img src="agente5.jpg" alt="Agente 5">
            </div>
            <div class="distrito-card">
                <h3>DISTRITO VAGEM DAS FLORES</h3>
                <img src="agente4.jpg" alt="Agente 4">
                <img src="agente5.jpg" alt="Agente 5">
            </div>            
        </div>
    </div>
{% endblock %}